USE [master]
GO
/****** Object:  Database [DeviceManagementPortal]    Script Date: 19-10-2020 01:26:23 ******/
CREATE DATABASE [DeviceManagementPortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeviceManagementPortal', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DeviceManagementPortal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DeviceManagementPortal_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DeviceManagementPortal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeviceManagementPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeviceManagementPortal]
GO
USE [DeviceManagementPortal]
GO
/****** Object:  Table [dbo].[Backend]    Script Date: 19-10-2020 01:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Backend](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Backend] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 19-10-2020 01:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imei] [nvarchar](20) NOT NULL,
	[SimCardNumber] [numeric](20, 0) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceBackend]    Script Date: 19-10-2020 01:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceBackend](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[BackendId] [int] NOT NULL,
	[MappedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DeviceBackend] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Backend] ON 

INSERT [dbo].[Backend] ([Id], [Name], [Address]) VALUES (1, N'backend1', N'170.12.30.22')
INSERT [dbo].[Backend] ([Id], [Name], [Address]) VALUES (2, N'backend2', N'193.34.12.89')
SET IDENTITY_INSERT [dbo].[Backend] OFF
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([Id], [Imei], [SimCardNumber], [Enabled], [Created], [CreatedBy]) VALUES (1, N'er87899749320hjjjf', CAST(8787987979 AS Numeric(20, 0)), 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'suman')
SET IDENTITY_INSERT [dbo].[Device] OFF
SET IDENTITY_INSERT [dbo].[DeviceBackend] ON 

INSERT [dbo].[DeviceBackend] ([id], [DeviceId], [BackendId], [MappedDateTime]) VALUES (1, 1, 1, CAST(N'2020-10-18T19:14:07.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeviceBackend] OFF
/****** Object:  Index [IX_Device]    Script Date: 19-10-2020 01:26:25 ******/
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [IX_Device] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceBackend]    Script Date: 19-10-2020 01:26:25 ******/
ALTER TABLE [dbo].[DeviceBackend] ADD  CONSTRAINT [IX_DeviceBackend] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceBackend] ADD  CONSTRAINT [DF_DeviceBackend_MappedDateTime]  DEFAULT (getutcdate()) FOR [MappedDateTime]
GO
ALTER TABLE [dbo].[DeviceBackend]  WITH CHECK ADD  CONSTRAINT [FK_DeviceBackend_Backend] FOREIGN KEY([BackendId])
REFERENCES [dbo].[Backend] ([Id])
GO
ALTER TABLE [dbo].[DeviceBackend] CHECK CONSTRAINT [FK_DeviceBackend_Backend]
GO
ALTER TABLE [dbo].[DeviceBackend]  WITH CHECK ADD  CONSTRAINT [FK_DeviceBackend_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DeviceBackend] CHECK CONSTRAINT [FK_DeviceBackend_Device]
GO
USE [master]
GO
